<!DOCTYPE html>
<html>
<head>
    <title class=title >changing css value from flask server </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="body" data-value=  {{color}}>
        press button: fask sends random background color to css
        <form class=button method="POST">
            <input type="submit" id="color" name="colorChanger" value='Change Color' formmethod="post">
        </form>
    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>